body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url('images/CV(3).png');
}
img{
    max-width: 100%;
}
nav {
  display: inline-block;
  justify-content: center;
  gap: 0.25rem;
  height: 3.125rem;
  width: 100%;
}

.menu-text {
  font-weight: 550;
  margin-top: 0.625rem;
}

.logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: .1875rem solid black;
  height: 4.375rem;
  position: relative;
  margin-bottom: 400px;
  background-color: white;
}
.filters-and-title {
  background-color: white;
  height: ;

}
h1{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
}
.iconify {
  width: 1.0625rem;
  height: 1.25rem;
  margin-top: 0.625rem;
}
#menu {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  text-align: center;
  margin-bottom: 1.875rem;
}
.menu-button {
  display: flex;
  justify-content: center;
  border-bottom: light 0.0625rem solid;
}

.background-img {
  width: 100%;
  height: calc(100% / 2);
  position: relative;
}

#menu:hover {
  cursor: pointer;
}

ul {
  display: inline-block;
  display: flex;
  font-size: 0.625rem;
}

li {
  margin-top: 1.5625rem;
}

img,
nav {
  display: flex;
  flex-flow: row nowrap;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: #ffec33;
  text-decoration-thickness: 0.125rem;
  cursor: pointer;
}
.regime {
  justify-content: center;
  display: flex;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
  gap: .3125rem;
  margin-top: 1.125rem;
}
.preferences {
  padding: .625rem;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  background-color: black;
  border-radius: 33%;
  color: white;
  border: transparent;
  width: fit-content;
  
}
.preferences:hover {
  cursor: pointer;
  background-color: rgba(221, 202, 28, 0.877);
}
.cart {
  width: 0.9375rem;
  height: 0.9375rem;
}

footer {
  background-color: #6BA6AE;
  height: 6.25rem;
  padding: 1.5625rem;
}

.offer-card1,
.offer-card2,
.offer-card3,
.offer-card4,
.offer-card5 {
  background-color: white;
  width: 10.625rem;
  padding: .5625rem;
  margin-block: 2.5rem;
  margin-inline: auto;
  display: flex;
  flex-flow: column wrap;
  border-radius: 0.625rem;
  border: solid 3px black;
  position: relative;
  gap: .4375rem;
}
.offer-card__img{
    width: 6.25rem;
    margin: auto;
}
.offer-card1__img img{
    max-width: 100%;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.description {
    color: black; 
    font-size: .625rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.discount {
    background-color: black;
    color: white;
    font-weight: 400;
    width: fit-content;
    position: absolute;
    top: .625rem;
    left: .9375rem;
    font-size: .8125rem;
}
.offer-card-price-before{
    text-decoration: line-through;
    text-decoration-thickness: .1875rem;
    text-decoration-color: #DB2540;
    display: inline;
    width: 100%;
    margin-right: .5rem;
}

.offer-card-price-after {
    font-size: larger;
}
.prices{
  row-gap: .625rem;
  margin: auto;
}
.hello {
    margin: auto;
}
.learn-more {
    font-size: .4375rem;
    color: lightslategrey;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
}
.offers-container {
  gap: 10px;
  /*display: flex;
  justify-content: space-between;*/
  width: 100%;
  margin: auto;
}

.add-to-cart {
  width: fit-content ;
  background-color: #e7d107;
  border: solid #e7d107 0.125rem;
  border-radius: 0.625rem;
  padding: .25rem;
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;

}
h2 {
  display: flex;
  justify-content: center;
  font-size: bold;
}
/* .recipe-img {
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  left: 5.625rem;
} */
/*.offers {
    width: 100%;
}*/
.reviews-users {
  background-color: white;
  height: 100px;
  
  
}
.username {
  font-weight: bold;
  font-size: .8125rem;
}
/*.dropdown-menu {
  display: block;
 
  cursor: pointer
}
.dropdown-menu, #menu {
  display: block;
}*/