img{
    max-width: 100%;
}
nav {
  display: inline-block;
  justify-content: center;
  gap: 0.25rem;
  height: 3.125rem;
  width: 100%;
}

.menu-text {
  font-weight: 550;
  margin-top: 0.625rem;
}

.logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: .1875rem solid black;
  height: 2.8125rem;
  position: relative;
}

.iconify {
  width: 1.0625rem;
  height: 1.25rem;
  margin-top: 0.625rem;
}
#menu {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  /*text-align: center;
  align-items: center;*/
  /*margin-right: .1875rem;*/
  position: absolute;
}
.menu-button {
  display: flex;
  justify-content: center;
  border-bottom: light 0.0625rem solid;
}
.menu-text {
  /*margin-top: none;*/
}

.background-img {
  width: 100%;
  height: calc(100% / 2);
  position: relative;
}

#menu:hover {
  cursor: pointer;
}

ul {
  display: inline-block;
  display: flex;
  font-size: 0.625rem;
}

li {
  margin-top: 1.5625rem;
}

img,
nav {
  display: flex;
  flex-flow: row nowrap;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: #ffec33;
  text-decoration-thickness: 0.125rem;
  cursor: pointer;
}

.regime {
  margin-top: 1.0625rem;
  justify-content: center;
  display: flex;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;

}

.preferences {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  background-color: black;
  border-radius: 30%;
  color: white;
  border: solid 0.125rem;
}

.preferences:hover {
  cursor: pointer;
  background-color: rgba(221, 202, 28, 0.877);
}

.cart {
  width: 0.9375rem;
  height: 0.9375rem;
}

footer {
  background-color: rgba(104, 93, 93, 0.205);
  height: fit-content;
  padding: 1.5625rem;
}

.offer-card1,
.offer-card2,
.offer-card3,
.offer-card4,
.offer-card5 {
  background-color: white;
  width: 15.625rem;
  padding: .4375rem;
  margin-block: 0.625rem;
  margin-inline: auto;
  display: flex;
  flex-flow: column wrap;
  border-radius: 0.625rem;
  border: solid 3px black;
  position: relative;
  gap: .3125rem;
}
.offer-card__img{
    width: 6.25rem;
    margin: auto;
}
.offer-card1__img img{
    max-width: 100%;
}
.title {
    display: flex;
    justify-content: center;
}
.description {
    color: black; 
    font-size: .625rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.discount {
    background-color: black;
    color: white;
    font-weight: 400;
    width: fit-content;
    position: absolute;
    top: .625rem;
    left: .9375rem;
    font-size: .8125rem;
}
.offer-card-price-before{
    text-decoration: line-through;
    text-decoration-thickness: .1875rem;
    text-decoration-color: #DB2540;
    display: inline;
    width: 100%;
}
.offer-card-price-after,.offer-card-price-before {
    
}
.hello {
    margin: auto;
}
.learn-more {
    font-size: .4375rem;
    color: lightslategrey;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
}
.offers-container {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-to-cart {
  width: 6.25rem ;
  background-color: #e7d107;
  border: solid #e7d107 0.125rem;
  border-radius: 0.625rem;
  padding: 0.1875rem;
  margin: auto;
  cursor: pointer;
}

/* .recipe-img {
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  left: 5.625rem;
} */
.offers {
    width: 100%;
}